
*{
    --jwt-gold: #ffb24e;
    --jwt-red: #f5452e;
    --jwt-black: #313131;
    --jwt-white: rgb(230,230,230);
    --jwt-purple: rgb(168, 39, 180);

}

body{
    height: 100vh;
    background: linear-gradient(to right, var(--jwt-black)40%, var(--jwt-red), var(--jwt-purple)) !important;
}

nav button.navbar-toggler span{
    color: var(--jwt-white);
}

#main-body{
    background-color: var(--jwt-black);
    color: var(--jwt-gold);
    position:relative;
    box-shadow: black 0px 0px 100px;
    margin: 0% 10%;
    padding: 0% 2%;
}

#header{
    text-align: center;
    color: var(--jwt-gold);
    font-size: 1.8em;
    padding: 10px 0%;
}

#main-nav{
    background: linear-gradient(to right, var(--jwt-black) 40%,var(--jwt-red), var(--jwt-purple));
    color: var(--jwt-gold);
    box-shadow: black 0px 0px 10px;
}
    #main-nav a{
        color: var(--jwt-gold);
    }

    #main-nav li{
        margin: 5px;
    }

#footer{
    border-top: 2px var(--jwt-black) inset ;
    background: var(--jwt-black);
    font-size: .7em;
    color: var(--jwt-gold);
    width: 100%;
    text-align: right;
}