
*{
    --jwt-gold: #ffb24e;
    --jwt-red: #f24433;
    --jwt-black: #1f1e1e;
    --jwt-light-black: #242424;
    --jwt-gray: #aaaaaa;
    --jwt-white: rgb(230,230,230);
    --jwt-purple: rgb(168, 39, 180);
    --jwt-magenta: #d43867;

}

body{
    height: 100vh;
    background: var(--jwt-gold) !important;
}

nav button.navbar-toggler span{
    color: var(--jwt-black) !important;
}

#home-link{
    margin: 0px 10px 0px 7%;
}

#site-logo{
    width: 10vw;
    max-width: 100px;
    min-width: 80px;
}

#site-logo:hover{
    opacity: 0.8;
}

#main-body{
    background-color: var(--jwt-black);
    color: var(--jwt-gold);
    position:relative;
    box-shadow: black 0px 0px 100px;
    margin: 0% 20%;
    padding: 0% 2% 5% 2%;
    min-height: 90vh;
}

#header{
    text-align: center;
    color: var(--jwt-gold);
    font-size: 1.8em;
    padding: 10px 0%;
}

#main-nav{
    background: var(--jwt-gold);
    color: var(--jwt-black);
    box-shadow: black 0px 0px 10px;
}
    #main-nav a{
        color: var(--jwt-black);
    }

    #main-nav li{
        margin: 5px;
    }

#footer{
    border-top: 1px solid var(--jwt-gold) ;
    background: var(--jwt-black);
    font-size: .7em;
    color: var(--jwt-gold);
    width: 90%;
    margin: 2% 5%;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 800px){
    .nav li{
        text-indent: 10%;
    }
    #main-body{
        margin: 0% 10%;
    }
}