@{
    ViewBag.Title = "Home Page";
}

<h2>Home</h2>

<div class="row">
    <div>
        <p>Welcome to my website!</p>
        <canvas id="viewPieChart" class="HomeChart" width="300" height="300"></canvas>
        <canvas id="viewLineChart" class="HomeChart" width="300" height="300"></canvas>
        <hr />
    </div>
</div>
<footer>
        <p>@ViewBag.ViewCount views thus far!</p>
</footer>