
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<ul id="projectsLinkList">
    <li><a href="~/StaticViews/TicTacToe/Index.html"><img class="imgLink projectsImg" src="~/Images/tictactoe.png" /></a></li>
    <li><a href="https://cs.dsunix.net/~groupa/"><img class="imgLink projectsImg lastFloat" src="~/Images/GOL.jpg" /></a></li>
    <li></li>
</ul>


<hr />
<footer>
    <p>@ViewBag.ViewCount views thus far!</p>
</footer>

