
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div>
    <br />
    <p>
        Name: John Townsend<br />
        Email: john.townsend@trojans.dsu.edu<br />
        Phone: (605) - 214 - 6118<br />
        Major: Computer Science &amp; Mathematics for Information Systems<br />
        School: Dakota State University, Madison SD<br />
    </p><br />
    <ul id="aboutLinkList">
        <li><a href="https://github.com/johnwtownsend"><img class="aboutImg" src="~/Images/github.png" /></a></li>
        <li><a href="https://www.linkedin.com/in/johntownsend/"><img class="aboutImg" src="~/Images/linkedin.png" /></a></li>
        <li><a href="https://twitter.com/jowtow"><img class="aboutImg" src="~/Images/twitter.png" /></a></li>
        <li><a href="https://www.youtube.com/channel/UCYBSct2mK-qnxKW4ALZH_aQ?view_as=subscriber"><img class="aboutImg lastFloat" src="~/Images/youtube.png" /></a></li>
    </ul>
</div>

<hr />
<footer>
    <p>@ViewBag.ViewCount views thus far!</p>
</footer>